<div class="ui relaxed stackable grid post-card">
    <div class="two wide computer tablet only column post-date-preview left">
        <div class="primary">{{date published_at format="MMM D"}}</div>
        <div class="secondary">{{date published_at format="LT"}}</div>
    </div>
    <div class="two wide mobile only column post-date-preview date left">
        <span class="primary">{{date published_at format="MMM D"}}</span>
        <span class="secondary">{{date published_at format="LT"}}</span>
    </div>

    <div class="ten wide column post-content post-content-data" data-url="{{url}}">
        {{content}}
    </div>

    <div class="four wide column post-meta">
        <a href='https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}' target="_blank">
            <img src="{{asset 'svg/social-fb.svg'}}" alt="Facebook">
        </a>
        <a href='https://twitter.com/share?text=&url={{url absolute="true"}}&via=realtalkpenn' target="_blank">
            <img src="{{asset 'svg/social-twitter.svg'}}" alt="Twitter">
        </a>

        <div class="tags">
            {{#foreach tags}} <a class="tag" href="{{url}}">#{{name}}</a> {{/foreach}}
        </div>
    </div>
</div>
<!--<div class="four wide column"></div>-->