<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {{!-- Base Meta --}}
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}"/>

    {{> "includes"}}
    {{!-- This tag outputs SEO meta+structured data and other important settings --}}


    <link rel="shortcut icon" href="/favicon.png" type="image/png"/>
    <meta name="referrer" content="no-referrer-when-downgrade"/>
    <link rel="alternate" type="application/rss+xml" title="RealTalk Penn" href="/rss/"/>

    {{#is "post"}}
        {{#post}}
            <meta property="og:site_name" content="RealTalk Penn"/>
            <meta property="og:type" content="article"/>
            <meta property="og:image" content="{{feature_image}}">
            <meta property="og:title" content="RealTalk Penn - Question"/>
            <meta property="og:url" content="{{url absolute="true"}}"/>
            <meta property="og:description" content="View full answer on realtalkpenn.com"/>

            <meta name="twitter:card" content="summary"/>
            <meta name="twitter:title" content="RealTalk Penn - Question"/>
            <meta property="twitter:url" content="{{url absolute="true"}}"/>
            <meta name="twitter:site" content="@realtalkpenn"/>

            <title>RealTalk Penn - Question</title>
        {{/post}}
    {{/is}}

    {{^is "post"}}
        <meta property="og:site_name" content="RealTalk Penn"/>
        <meta property="og:type" content="article"/>

        {{#post}}
            <meta property="og:image" content="{{feature_image}}">
            <meta property="og:description" content="{{excerpt}}"/>
        {{/post}}
        {{#is "index"}}
            <meta property="og:image" content="{{@site.url}}{{@site.cover_image}}">
            <meta property="og:description" content="{{@site.description}}"/>
        {{/is}}

        <meta property="og:title" content="{{meta_title}}"/>
        <meta property="og:url" content="{{url absolute="true"}}"/>

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:title" content="{{meta_title}}"/>
        <meta property="twitter:url" content="{{url absolute="true"}}"/>
        <meta name="twitter:site" content="@realtalkpenn"/>

        <title>{{meta_title}}</title>
    {{/is}}

</head>
<body class="{{body_class}}">
<!-- <img src="/assets/svg/logo.svg" style="float:right; position: absolute; left: 7%; margin-top: 15px;" -->

<div class="site-wrapper">
    <div class="ui stackable grid post-card header">
        <a class="two wide computer tablet only column logo" href="/">
            <!--Left floated for large screens-->
            <img class="ui right floated image" src="{{@site.logo}}">
        </a>
        <a class="two wide mobile only column logo" href="/">
            <!--centered for small screens-->
            <img class="ui centered image" src="{{@site.logo}}">
        </a>

        <div class="eleven wide right floated column">
            {{>segment}}
        </div>

        <div class="one wide computer tablet only column">
            <a class="search-btn" href="/search"><img src="{{asset 'svg/search.svg'}}"></a>
        </div>
        <a class="two wide mobile only column search-btn" href="/search">
            <img src="{{asset 'svg/search.svg'}}"> <span class="primary label">SEARCH</span>
        </a>
    </div>

    <main id="site-main" class="site-main">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

    </main>

    {{!-- The footer at the very bottom of the screen --}}
    <footer class="site-foot">
        &copy; {{date format="YYYY"}} <a href="/about">The Signal + Friends</a>

        <div class="fine-print">
            Content on RealTalk Penn, unless stated otherwise, is not approved by The University of Pennsylvania or its
            affiliated entities. Information on the website is complied by unpaid student contributors, and may not be
            correct. Opinions by contributors may not represent those of the editorial board, the RealTalk Penn project
            team or The Signal. Report abuse to editors@realtalkpenn.com.
        </div>
    </footer>

</div>

{{#if pagination.pages}}
    <script>
        // maxPages is a global variable that is needed to determine
        // if we need to load more pages for the infinitescroll, or if
        // we reached the last page already.
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "built/infinitescroll.js"}}"></script>
{{/if}}

{{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
{{{block "scripts"}}}

{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}

{{> script}}

</body>
</html>
