{{!< default}}

{{> info-card-secondary}}

<div class="ui centered relaxed grid contributors">
    <div class="ui fourteen wide computer fourteen wide tablet fifteen wide mobile column">
        {{#post}}
            <h1 class="heading">Contributors</h1>
            {{content}}

            <div class="ui stackable two column grid">
                {{#foreach authors}}
                    <div class="column">
                        <div class="ui grid contributor">
                            <div class="four wide column image">
                                <img src="{{profile_image}}">
                            </div>
                            <div class="twelve wide column content">
                                <div class="name">{{name}}</div>
                                <div class="tagline">{{location}}</div>
                                <div class="bio">{{bio}}</div>
                            </div>
                        </div>
                    </div>
                {{/foreach}}
            </div>
        {{/post}}
    </div>
</div>